{% extends 'base.html' %} {% block title %}About {{pet.name}}{% endblock %} {%
block main %} {% if pet.available %}
<div class="alert alert-success" role="alert">
  Great news! {{pet.name}} is available for adoption!
</div>
{% else %}
<div class="alert alert-dark" role="alert">
  At this time, {{pet.name}} is not available for adoption.
</div>
{% endif %}
<div class="container d-flex justify-content-center flex-wrap">
  <div class="card p-3" style="width: 15rem">
    <img src="{{pet.photo_url}}" class="card-img-top" alt="Image of pet" />
    <div class="card-body">
      <h5 class="card-title">{{pet.name}}</h5>
      <p class="card-text">Species: {{pet.species}}</p>
      <p class="card-text">Age: {{pet.age}}</p>
      <p class="card-text">Notes: {{pet.age}}</p>
      <a href="/pet/{{pet.id}}/edit" class="btn btn-info">Edit</a>
      <a href="/pet/{{pet.id}}/delete" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>
{% endblock %}
